GettingStartedClient/Connected Services/CalcServiceReference/Microsoft.SetviceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.SetviceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.SetviceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.SetviceModel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.SetviceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalc_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICalc_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Subtract_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtract" />
  </wsdl:message>
  <wsdl:message name="ICalc_Subtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="ICalc_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="ICalc_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Power_InputMessage">
    <wsdl:part name="parameters" element="tns:Power" />
  </wsdl:message>
  <wsdl:message name="ICalc_Power_OutputMessage">
    <wsdl:part name="parameters" element="tns:PowerResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalc">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://Microsoft.SetviceModel.Samples/ICalc/Add" message="tns:ICalc_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.SetviceModel.Samples/ICalc/AddResponse" message="tns:ICalc_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input wsaw:Action="http://Microsoft.SetviceModel.Samples/ICalc/Subtract" message="tns:ICalc_Subtract_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.SetviceModel.Samples/ICalc/SubtractResponse" message="tns:ICalc_Subtract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://Microsoft.SetviceModel.Samples/ICalc/Multiply" message="tns:ICalc_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.SetviceModel.Samples/ICalc/MultiplyResponse" message="tns:ICalc_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://Microsoft.SetviceModel.Samples/ICalc/Divide" message="tns:ICalc_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.SetviceModel.Samples/ICalc/DivideResponse" message="tns:ICalc_Divide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Power">
      <wsdl:input wsaw:Action="http://Microsoft.SetviceModel.Samples/ICalc/Power" message="tns:ICalc_Power_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.SetviceModel.Samples/ICalc/PowerResponse" message="tns:ICalc_Power_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>